* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(188, 233, 202);
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.container {
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  margin: auto;
  width: 500px;
}

#scores {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.dice {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd3b6;
  width: 75px;
  height: 75px;
  margin: auto;
  margin-top: 1rem;
  border-radius: 5px;
}

button {
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #ff8b94;
  color: white;
  padding: 1rem 2rem;
  margin: 2rem auto;
  margin-bottom: 1rem;
}
